@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Varta", serif;
}


@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-1 * var(--scroll-width)));
  }
}

.animate-scroll {
  animation: scroll 50s linear infinite;
}

@media (prefers-reduced-motion: reduce) {
  .animate-scroll {
    animation: none;
  }
}

h2 {
  font-family: "Merriweather", serif;;
}